
<h3>Lista de clientes</h3>
<a href="#/cliente/new">Novo Cliente</a>
<br/>
<br/>
<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Pesquisar por..."/>
<br/>
<table class="table table-hover">
  <thead>
    <th><a href="" ng-click="ordenarPor('nome')">Nome</th>
    <th><a href="" ng-click="ordenarPor('telefone')">Telefone</th>
    <th><a href="" ng-click="ordenarPor('saldo')">Saldo</th>
    <th><a href="" ng-click="ordenarPor('estado')">Estado</th>
    <th>Ação</th>
  </thead>
  <tbody>
    <tr ng-repeat="cliente in clientes | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
      <td>{{cliente.nome}}</td>
      <td>{{cliente.telefone}}</td>
      <td>{{cliente.saldo | currency}}</td>
      <td>{{cliente.estado}}</td>
      <td>
        <a ng-href="#/cliente/{{$index}}/edit">Editar</a> |
        <a ng-click="remover($index)">Excluir</a>
      </td>
    </tr>
  </tbody>
</table>
